.App {
  text-align: center;
  }
  
body{
 font-size: 1.5rem;
}

button{
 outline: none;
 background: #ffffff;
 border: none;
 height: 30px;
 max-height: 30px;
 width: 55px;
 max-width: 55px;
 font-size: 2rem;
}


td{
  border: 1px solid #000000;
}


